PORT=5000
CLIENT_URL=http://localhost:3000

# Database
DB_USER=postgres
DB_HOST=localhost
DB_NAME=qr_code_db
DB_PASSWORD= 
DB_PORT=5432

# Google
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# Secrets
SESSION_SECRET=
JWT_SECRET=
ADMIN_EMAIL=